In [21]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
from water_prediction_api import util
import pandas as pd
from datetime import date, datetime, timedelta

In [23]:
# Test Station ID
station_id = 6000990

In [24]:
try :
    station_id = int(station_id)
except ValueError :
    print('ko')

In [29]:
stations = util.get_stations_df()
if station_id not in stations.index :
    print('Station ID unknown')

SQL_SSL_CA path : /home/sve/prj/water_prediction/water_prediction_api/../settings/server-ca.pem
pwd : /home/sve/prj/water_prediction/notebooks

In [8]:
# Building Features data
weather = util.get_weather_df(station_id)
data = util.build_features_data(station_id,stations,weather)

In [10]:
# Adding the prediction to the data
util.add_prediction_to_the_data(data)
data.head()

,day,mean_nitrate,station_id,temperature,precipitation,maxwind,maxwind_1,temperature_1,precipitation_1,maxwind_2,...,maxwind_59,temperature_59,precipitation_59,maxwind_60,temperature_60,precipitation_60,doy,sin_doy,cos_doy,prediction
60,2022-02-15,4.513699,6000990,4.7,3.5,22.7,29.2,7.2,1.4,28.4,...,14.8,4.5,0.0,10.8,3.7,0.0,46,0.699458,0.714673,18.887363
61,2022-02-16,4.513699,6000990,5.6,19.2,27.4,22.7,4.7,3.5,29.2,...,9.0,3.6,0.0,14.8,4.5,0.0,47,0.711657,0.702527,19.276125
62,2022-02-17,4.513699,6000990,8.5,11.2,31.0,27.4,5.6,19.2,22.7,...,14.8,3.2,0.0,9.0,3.6,0.0,48,0.723644,0.690173,23.515970
63,2022-02-18,4.513699,6000990,7.5,6.1,28.4,31.0,8.5,11.2,27.4,...,7.2,0.4,0.0,14.8,3.2,0.0,49,0.735417,0.677615,26.115177
64,2022-02-19,4.513699,6000990,4.0,2.6,32.4,28.4,7.5,6.1,31.0,...,6.1,-0.6,0.0,7.2,0.4,0.0,50,0.746972,0.664855,29.115751

In [13]:
weather[['day','temperature','precipitation','maxwind']]

          day  temperature  precipitation  maxwind
0  2021-12-17          3.7            0.0     10.8
1  2021-12-18          4.5            0.0     14.8
2  2021-12-19          3.6            0.0      9.0
3  2021-12-20          3.2            0.0     14.8
4  2021-12-21          0.4            0.0      7.2
..        ...          ...            ...      ...
5  2022-02-20          5.0           41.1     33.1
6  2022-02-21          4.5           32.8     35.3
7  2022-02-22          4.3            1.0     12.2
8  2022-02-23          4.2            0.0      5.8
9  2022-02-24          4.8            0.0      4.7

[70 rows x 4 columns]

In [14]:
data[['day','prediction']]

          day  prediction
60 2022-02-15   18.887363
61 2022-02-16   19.276125
62 2022-02-17   23.515970
63 2022-02-18   26.115177
64 2022-02-19   29.115751
65 2022-02-20   25.763199
66 2022-02-21   24.040600
67 2022-02-22   14.615463
68 2022-02-23   11.618011
69 2022-02-24    9.206369

In [27]:
import os

In [28]:
os.path.realpath(__file__)

NameError: name '__file__' is not defined

In [ ]:
os.path.dirname(os.path.realpath(__file__))